html ,body{
  height: 100%;
  width:100%;
}
#main_wrap{
  width: 100%;
  height: 100%;
  padding-top: 200px;
}
.main_btn{
  display: block !important;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
}
