#header {

  width: 100%;
margin: 0;
padding: 0;

}

#header .header_top{
  position:fixed;
  background-color: #000;
  width: 100%;
  height: 40px;
  z-index: 7900;
  float:left;
}

#header .header_login{
    width: 1140px;
    height: 40px;
    margin: 0 auto;
z-index: 7910;
}
#header .header_menu_lb{
  position: relative;
  height: 100px;
}
